<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
  <rosparam file="$(find protomav)/config/pioneer/global_planner_params.yaml" command="load" />
      <rosparam file="$(find protomav)/config/pioneer/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find protomav)/config/pioneer/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find protomav)/config/pioneer/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find protomav)/config/pioneer/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find protomav)/config/pioneer/move_base.yaml" command="load" />      
      <rosparam file="$(find protomav)/config/pioneer/base_local_planner_params.yaml" command="load" />
  </node>
</launch>