<launch>
  <rosparam command="load" file="$(find protomav)/config/vehicle_params.yaml" />

  <node type="heartbeat" pkg="protomav"  name="heartbeat_node"/>
  <node type="status" pkg="protomav"  name="status_node"/>
  <node type="control" pkg="protomav" name="control_node" output="screen"/>
  <!-- <node pkg="protomav" type="wp_manager" name="wp_manager_node" output="screen" /> -->
  <param name="goal_topic" value="move_base/simple_goal"/>  

</launch>