<launch>
  <rosparam command="load" file="$(find protomav)/config/vehicle_params.yaml" />

  <node type="heartbeat" pkg="protomav"  name="heartbeat_node"/>
  <node type="status" pkg="protomav"  name="status_node"/>
  <node type="control" pkg="protomav" name="control_node" output="screen"/>
  <node type="wp_manager" pkg="protomav" name="wp_manager_node" output="screen" />
    <param name="wp_frame" value="utm"/>
    <param name="planner_frame" value="utm"/>
    <param name="goal_topic" value="move_base/simple_goal"/>
    <!--param name="goal_topic" value="move_base/simple_goal"/-->
</launch>
