<launch>
	

  <node pkg="mavros_extras" type="gcs_image_bridge" name="gcs_image_bridge" clear_params="true" output="screen">
		<!--remap from="/mavlink/gcs_image/compressed" to="/fakecam/image/compressed" /-->
		<remap from="/mavlink/gcs_image/compressed" to="/droni/image_raw_slow/compressed" />
		<param name="image_transport" value="compressed"/>

		<!--param name="gcs_url" value="udp://localhost:8001@localhost:14550" /-->
		<!--param name="gcs_url" value="tcp-l://192.168.168.9:5760"/-->
		<!--param name="gcs_url" value="udp://192.168.168.9:14552@192.168.168.10:14550" /-->


		<!--param name="gcs_url" value="udp://192.168.168.9:14552@192.168.168.10:14551" /-->
		<!--param name="gcs_url" value="udp://127.0.0.1:14552@127.0.0.1:14551" /-->
		<!--param name="gcs_url" value="udp://localhost:8001@localhost:14550" /-->
		<!--param name="gcs_url" value="tcp://192.168.168.10:5760" />
		<param name="gcs_url" value="tcp-l://192.168.168.9:5760"/-->
		<!--param name="gcs_url" value="tcp://127.0.0.1:5760"/-->
		<param name="gcs_url" value="tcp-l://127.0.0.1:5760"/>
		<!--param name="image_transport" value="compressed"/-->
<!-- 		<remap from="/mavlink/to" to="/droni/mavlink/to" />
		<remap from="/mavlink/from" to="/droni/mavlink/from" />		 -->
  </node>
</launch>
