<launch>
  <include file="$(find ros2mav)/launch/ros2mav.launch"/>
  <include file="$(find protomav)/launch/protomav.launch" />
  <include file="$(find ros2mav)/launch/image2mav.launch" />
  <!--include file="$(find ros2mav)/launch/image2mav_copy.launch" /-->
  
  <!--include file="$(find diagnostics_stack)/launch/test_stack.launch" /-->
  
</launch>