<launch>
  <include file="$(find ros2mav)/launch/ros2mav.launch"/>
  <include file="$(find protomav)/launch/protomav.launch" />
  <include file="$(find ros2mav)/launch/image2mav.launch" />
  <!-- <include file="$(find protomav)/launch/mavros.launch" /> -->
<!--   <node pkg="mavros" type="gcs_bridge" name="mavlink_bridge">
		<param name="gcs_url" value="udp://localhost:14554@localhost:14553" />
  </node> -->
</launch>
